// Colors
// Primary
$darkBlue1: hsl(217, 28%, 15%); // (intro and email sign up background)
$darkBlue2: hsl(218, 28%, 13%); // (main background)
$darkBlue3: hsl(216, 53%, 9%); // (footer background)
$darkBlue4: hsl(219, 30%, 18%); // (testimonials background)

// Accent
$cyan: hsl(176, 68%, 64%); // (inside call-to-action gradient)
$blue: hsl(198, 60%, 50%); // (inside call-to-action gradient)
$lightRed: hsl(0, 100%, 63%); // (error)

// Neutral
$white: hsl(0, 0%, 100%);

// Body Copy
$font-med: 0.875rem; // 14px

// Headings, Call-to-actions, Header Navigation
$fontH: 'Raleway',
sans-serif;

// Body
$fontB: 'Open Sans',
sans-serif;

// Weights
$wLight: 400;
$wBold: 700;